html, body{
    margin: 0px;
}
#container {
    height: 100vh;
    position: relative;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

#ball {
    width: 20px;
    height: 20px;
    background-color: orangered;
    position: fixed;
    top: 20px;
    left: 52.5%;
    border-radius: 50%;
}

#rod1, #rod2 {
    width: 200px;
    height: 20px;
    position: fixed;
    left: 50%;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#rod1 {
    background-color: blue;
    top: 0px;    
}

#rod2 {
    background-color: blueviolet;
    bottom: 0px;
}
